<div id="rightColumn">

<% for comment in @these_comments do %>

<div class="clientSubCommentText" >
		 <p>

		<%=comment.comment %>
		<% if comment.photo_content_type %>
		<% if comment.photo_content_type =~ /image.*/  %>
			<a href='<%=comment.photo.url%>' class="MagicThumb" rel="buttons:hide">
			<%= image_tag comment.photo.url(:thumb), :style => "margin-left:40px;" %>
			</a>
		<% else %>
			<a href='<%=comment.photo.url%>' target="_blank">View attached file here.</a><%= image_tag "download.png"%>
		<% end %>
		<% end %>
		<br/>

		<span>- Posted <%= time_ago_in_words(comment.created_at)%> ago </span>

              </p>

              <p>
                <strong>In response to...</strong><br/>
                <%=Discussion.find(comment.discussion_id).content%>

              </p>

</div>
  <hr/>
  <% end %>


</div> <!-- right column -->
