
<h1 class="lower">Your emailed comments...</h1>

<p>Here are emails we have received for you.  Please take a moment and assign them to the appropriate discussion.</p>

<br/><br/>

<% for comment in @emailed_comments  %>

<div class="emailedComments" id="commentSub<%= comment.id%>">
		 <p>

		<%=comment.comment %>
		<% if comment.photo_content_type %>
		<% if comment.photo_content_type =~ /image.*/  %>
			<a href='<%=comment.photo.url%>' class="MagicThumb" rel="buttons:hide">
			<%= image_tag comment.photo.url(:thumb), :style => "margin-left:40px;" %>
			</a>
		<% else %>
			<a href='<%=comment.photo.url%>' target="_blank">View attached file here.</a><%= image_tag "download.png"%>
		<% end %>
		<% end %>
		<br/>

		<span>- Posted <%= time_ago_in_words(comment.created_at)%> ago </span>
                | <%= link_to_remote "Delete",
				:confirm => "Are you sure you want to delete this?",
				:url => {:controller => 'plain', :action => 'drop_comment', :id => comment.id},
				:complete => "new Effect.Fade('commentSub#{comment.id}', { duration: 2 })",
				:update => "commentSub#{comment.id}" %>

              </p>

              <p>
              <% @indy_comment = Comment.find(comment.id)%>
              <% remote_form_for :comment, @indy_comment,
                :url => { :action => "email_assign" },
                :update => "commentSub#{comment.id}" do |f| %>
                
              <%=  select("discussion", "discussion_id", Discussion.find(:all, :conditions => {:project_id => @this_assignment.id}).collect {|p| [ p.title, p.id ] }, {:include_blank => 'Select...'}) %>
              <%= hidden_field(:comment, :id, :value => comment.id)   %>
              <%= submit_tag 'Assign' %>
              <% end %>
              </p>
</div>
  

<% end %>
