<h1>Comments</h1>


<% for comment in @comments %>
<h3><%=h comment.title %></h3>
<strong>Posted <%=distance_of_time_in_words_to_now(h comment.created_at)%> ago</strong><br/>
<p><%=h comment.comment %></p>
<p><a href='<%=h comment.url %>' target='_blank'><%=h comment.url %></a><br/></p>

<% end %>
