<h1 class="lower">Edit Your Account</h1>
<% form_for @user, :html => { :multipart => true } do |f| -%>
<p>
	Name:<br/>
	<%= f.text_field :name %>
</p>

<p>
	Email Address:<br/>
	<%= f.text_field :email %>
</p>
<% unless self.current_user.participant %>
<p>
	Login Name:<br/>
	<%= f.text_field :login %>
</p>
<% end %>
<p>
	Reset Password:<br/>
	<%= f.password_field :password %>
</p>

<p>
	Confirm Reset Password:<br/>
	<%= f.password_field :password_confirmation %>
</p>

<p>
	<%= image_tag @user.avatar.url(:thumb) %>
	Upload a Picture:<br/>
	<%= f.file_field :avatar %>
</p>

<p>
	<%= submit_tag 'Update' %>
<p/>

<% end %>