<h1 class="lower">Edit Theme</h1>

<font style="color:#f00">

<%= error_messages_for :theme %>

</font>

<% form_for @theme, :url =>{:controller => 'themes', :action => 'update', :id => @theme.id }, :html => { :multipart => true } do |f| -%>

<p>
	Name:<br/>
	<%= f.text_field :name %>
</p>

<p>
        Background Color:<br/>
        <%= f.picky_color :color %>
</p>

<p>
	<% if @theme.logo_file_name %>
	<%= image_tag @theme.logo.url(:size50) %>
	<% end %>
	Upload Logo:<br/>
	<%= f.file_field :logo %>
</p>

<p>
	<%= submit_tag 'Update' %>
<p/>

<% end -%>