<h1 class="lower">Create a new theme</h1>

<font style="color:#f00">

<%= error_messages_for :theme %>

</font>

<p>
  Create a new THEME by uploading a client logo.  Theme name must be alphanumeric and may not contain any spaces or
  special characters (/&amp;$"'\ etc.).

</p>

<% form_for :theme, 
  :url =>{:controller => 'themes', :action => 'create' },
  :html => { :multipart => true, :id => "this_form" }  do |f| -%>

<p><%= label_tag 'name' %><br/>
<%= f.text_field :name %>
</p>

<p><%= label_tag 'color' %><br/>
  <%= picky_color_tag "theme[color]" %>
</p>

<p>
	Upload logo:<br/>
	<%= f.file_field :logo %>
</p>


<p ><%= submit_tag 'Create' %></p>
<% end %>
