<h1 class="lower">Add a list item...</h1>
<br/>
<div style="width:400px;float:left;">

  <% unless @previousitems.empty? %>
    The following are already in the list...<br/>
  <% end %>
  
  <% for previous in @previousitems %>

    <p>
    <%  if previous.image %>
      <%= image_tag previous.image.url(:size50) %>
    <% end %>
    <%= previous.description %></p>

  <% end %>
  

<% form_for :sortableitems, @sortableitems,
  :html => { :multipart => true },
:url =>{:controller => 'sortableitems', :action => 'create' } do |f| -%>


<p><%= label_tag 'description:' %><br/>
<%= f.text_field :description %>
<%= f.hidden_field :sortables, :value => params[:id] %>
</p>

<p>
	Image (optional):<br/>
	<%= f.file_field :image %>
</p>

<p><%= submit_tag 'Add' %>&nbsp;&nbsp;<%= link_to "I'm done", :controller => "sortables", :action => "edit", :id => params[:id] %></p>

<% end -%>
</div>