<% form_for @user, :html => { :multipart => true } do |f| %>
<% #form_for :user, @user, :url =>{:controller => 'users', :action => 'update' }, :html => { :multipart => true } do |f| %>
<p>
	Name:<br/>
	<%= f.text_field :name %>
</p>

<p>
	Email Address:<br/>
	<%= f.text_field :email %>
</p>

<p>
	Login Name:<br/>
	<%= f.text_field :login %>
</p>

<p>
	Reset Password:<br/>
	<%= f.password_field :password %>
</p>

<p>
	Confirm Reset Password:<br/>
	<%= f.password_field :password_confirmation %>
</p>

<p>
	<%= image_tag @user.avatar.url(:thumb) %>
	Upload Avatar:<br/>
	<%= f.file_field :avatar %>
</p>

<fieldset style="width:30%;">
<legend>User Type</legend>

<p>
	<%= check_box("user", "admin", {}, "true", "false") %>Admin<br/>
	<%= check_box("user", "moderator", {}, "true", "false") %>Moderator<br/>
	<%= check_box("user", "client", {}, "true", "false") %>Client<br/>
	<%= check_box("user", "participant", {}, "true", "false") %>Participant<br/>
</p>

</fieldset>

<p>
	<%= submit_tag 'Update' %>
<p/>

<% end %>