  <!-- Discussion form  (Admin Mod posts new discussion)-->
  <% if self.current_user.moderator? || self.current_user.admin? %>
  <a href="#" onclick ="Effect.SlideDown('discussion_form');">Add a discussion topic</a><br/>
  <div id="discussion_form" class="adminFlyout" style="display:none;">
    
      <br/>
  <% form_for :discussion,
            :html => {:id => "top_form", :multipart => true},
            :url => {:controller => 'discussion', :action => 'create'} do |f|%>
      <p>Discussion Title: <%= f.text_field :title %></p>
  <%= f.text_area :content, :size => "60x10", :class => 'rich_text_editor' %><b/>
  Upload a photo or file:<br/>
<%= f.file_field :media %>

 

  <br/>
  <p>
    <%= label_tag 'Respond with Heatmap:'%><br/>
    <%= f.check_box 'has_heatmap'%>
  </p>

  <p><%= label_tag 'Minimum Number of Characters for Comments/Responses (0 for no minimum):' %><br/>
<%= f.text_field :character_minimum %>
</p>
<% @sorties = Sortables.find(:all, :conditions => { :project_id => params[:id]}) %>
<% unless @sorties.empty? %>

<p>
  <%= label_tag 'A sortable list is available for this project.  If you wish to include it in this topic, select it here:' %><br/>
  <%=  select("discussion", "sortable", Sortables.find(:all, :conditions => { :project_id => params[:id]}).collect {|p| [ p.title, p.id ] }, {:include_blank => 'Select...'}) %>
</p>
<% end %>

<% @groupies = Groupables.find(:all, :conditions => { :project_id => params[:id]}) %>
<% unless @groupies.empty? %>

<p>
  <%= label_tag 'A groupable list is available for this project.  If you wish to include it in this topic, select it here:' %><br/>
  <%=  select("discussion", "groupable", Groupables.find(:all, :conditions => { :project_id => params[:id]}).collect {|p| [ p.title, p.id ] }, {:include_blank => 'Select...'}) %>
</p>
<% end %>
	<input id="check_all" name="check_all" type="checkbox" onclick="Form.getInputs('top_form', 'checkbox').each(function(box){box.checked = $('check_all').checked})" /> <strong>Select All</strong><br/><br/>
	<% for participant in @project_members %>
        <% if participant.user %>
		<div class="cellClass150"><%= check_box("comment_assignment", participant.user.id, {}, "#{participant.user.id}") %>  
                <% if !participant.user %>
                  &nbsp;
                <% else %>
                  <%= participant.user.name %>
                <% end %>
                &nbsp;&nbsp;</div>
        <% end  %>
	<% end %>

<%= f.hidden_field :project_id, :value => params[:id] %>
  <%= f.hidden_field :user_id, :value => self.current_user.id %><br/>
  <%= submit_tag "Post" %>
  <% end  %>
    
  </div>
  <% end %>

<!-- End Discussion Form -->

