      	<% last_discussion = Discussion.find(:last, :conditions => {:project_id => params[:id]}) %>
        <% form_for :comments,
		#:update => "latestresponse",
		#:complete => "new Effect.Highlight('latestresponse', { duration: .5 })",
		:html => {:id => "my_form", :multipart => true},
		:url =>{:controller => 'comments', :action => 'create' } do |f| -%>
        <div class="avatar">
			<% if self.current_user.avatar_file_name %>
			<%= image_tag self.current_user.avatar.url(:small) %>
			<% end %>
	</div>
        <div class="topResponseBox">
          <h1>Post Your Response:</h1>
          <div class="responseWidget">
          	<%= f.text_area :comment, :size => "60 x 5" %><br/>
				Upload a photo or file:<br/>
			<%= f.file_field :photo %>
			<% if logged_in? %>
			<%= f.hidden_field :user_id, :value => self.current_user.id %>
			<% end %>
			<%= f.hidden_field :project_id, :value => params[:id] %>
                        <%= f.hidden_field :discussion_id, :value => last_discussion.id %>
			<div class="postButton" style="margin-top:-20px;">
            <!-- <input type="image" src="../images/btn_post.gif" /> -->
			<%= submit_tag "Post Your Comment", :style => "margin-right:50px;" %>
                        </div>
          </div>


        </div>
      <% end -%><!-- form for -->