<!-- Response form starts here -->
<%# if !self.current_user.participant && !self.current_user.client %>
<% if show_heatmap(discussions)%>
    <!-- Heatmap -->
  <% size = size_helper(self.current_user)%>
  <br/>
  <%= swfobject_tag "/heatMap/HeatMap.swf", :div_id => "heatmapController"  %>
<!--
#  <div class="heatmapContainer" id="heatmapContainer">
#    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
#    id="HeatMap" width="<%= size[0]%>" height="<%= size[1]%>"
#    codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
#      <param name="movie" value="HeatMap.swf" />
#      <param name="quality" value="high" />
#      <param name="bgcolor" value="#ffffff" />
#      <param name="allowScriptAccess" value="sameDomain" />
#      <embed src="/heatMap/HeatMap.swf" quality="high" bgcolor="#ffffff"
#      	width="<%= size[0]%>" height="<%= size[1]%>" name="HeatMap" align="middle"
#      	play="true"
#      	loop="false"
#      	quality="high"
#      	allowScriptAccess="sameDomain"
#      	type="application/x-shockwave-flash"
#      	pluginspage="http://www.adobe.com/go/getflashplayer">
#      </embed>
#    </object>
#  </div>-->
<%else%>
  <% size = size_helper(self.current_user)%>
  <img src=" data:image/jpg;base64,<%= heatmap_screenshot(discussions)%>", width = "440", height = "310%>">

<%end%>
  <div style="padding-top:15px;clear:both;" id="responder_form" >
<% unless self.current_user.client %>
    <% form_for :comments,:html => {:id => "my_form", :multipart => true}, :url =>{:controller => 'comments', :action => 'create'} do |f| -%>

      <div class="avatar">
        <%= render_avatar(self.current_user) %>
	    </div>

      <div class="topResponseBox">
        <h1>Post Your Response:</h1>
<% if !discussions.character_minimum.nil? && discussions.character_minimum > 0 %>
  <p><%=discussions.character_minimum%> characters MINIMUM</p>
<% end %>
<div class="responseWidget">
  <%= f.text_area :comment, :size => "60 x 10", :class => 'rich_text_editor' %><br/>
  Upload a photo or file:<br/>
  <%= f.file_field :photo %>
  <% if logged_in? %>
    <%= f.hidden_field :user_id, :value => self.current_user.id %>
  <% end %>
  <%= f.hidden_field :project_id, :value => project_id %>
  <%= f.hidden_field :discussion_id, :value => discussions.id %>
  <% if !@project.one_to_one && self.current_user.moderator %>
    Hide responses until answered:
    <%= f.check_box :hide_until_answered %>
  <% end %>
  <div class="postButton" style="margin-top:-20px;">
    <%= submit_tag "Share", :onclick =>"onSubmit()", :style => "margin-right:10px;" %>
  </div>
</div>
      </div>
    <% end %><!-- form for -->
  </div>
<%end%>
<% content_for :scripts do -%>
  <%= javascript_include_tag "swfobject", "loadFlexapp"%>
<%end%>
