<!-- Response form starts here -->

          <div style="padding-top:15px;clear:both;" >
              <% form_for :comments,
		#:update => "latestresponse",
		#:complete => "new Effect.Highlight('latestresponse', { duration: .5 })",
		:html => {:id => "my_form", :multipart => true},
		:url =>{:controller => 'comments', :action => 'add_new' } do |f| -%>
        <div class="avatar">
          <% if self.current_user.avatar_file_name %>
          <%= image_tag self.current_user.avatar.url(:small) %>
          <% else %>
            <%= image_tag "gravatar-40.png" %>
          <% end %>
	</div>
        <div class="topResponseBox">
          <h1>Post Your Response:</h1>
          <div class="responseWidget">
          	<%= f.text_area :comment, :size => "60 x 10", :class => 'rich_text_editor' %><br/>
				Upload a photo or file:<br/>
			<%= f.file_field :photo %>
			<% if logged_in? %>
			<%= f.hidden_field :user_id, :value => self.current_user.id %>
			<% end %>
			<%= f.hidden_field :project_id, :value => project_id %>
                        <%= f.hidden_field :discussion_id, :value => discussions.id %>
			<div class="postButton" style="margin-top:-20px;">
			<%= submit_tag "Share", :style => "margin-right:10px;" %>
                        </div>
          </div>


        </div>


      <% end -%><!-- form for -->
          </div>
