<!-- Response form starts here -->
<%# if !self.current_user.participant && !self.current_user.client %>
<% if show_heatmap(discussions)%>
    <!-- Heatmap -->
  <% size = size_helper(self.current_user)%>
  <br/>
 <%javascript_tag do -%>
   swfobject.embedSWF("/heatMap/HeatMap.swf", "HeatMap", "<%= size[0]%>", "<%= size[1]%>", "6.0.65", "expressInstall.swf");
  <%end%>
<div class="heatmapContainer" id="HeatMap">
  <h1>Alternative content</h1>
	  <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
</div>
<!--
  <div class="heatmapContainer" id="heatmapContainer">
-->
<%else%>
  <% size = size_helper(self.current_user)%>
  <img src=" data:image/jpg;base64,<%= heatmap_screenshot(discussions)%>", width = "440", height = "310%>">

<%end%>
  <div style="padding-top:15px;clear:both;" id="responder_form" >
<% unless self.current_user.client %>
    <% form_for :comments,:html => {:id => "my_form", :multipart => true}, :url =>{:controller => 'comments', :action => 'create'} do |f| -%>

      <div class="avatar">
        <%= render_avatar(self.current_user) %>
	    </div>

      <div class="topResponseBox">
        <h1>Post Your Response:</h1>
<% if !discussions.character_minimum.nil? && discussions.character_minimum > 0 %>
  <p><%=discussions.character_minimum%> characters MINIMUM</p>
<% end %>
<div class="responseWidget">
  <%= f.text_area :comment, :size => "60 x 10", :class => 'rich_text_editor' %><br/>
  Upload a photo or file:<br/>
  <%= f.file_field :photo %>
  <% if logged_in? %>
    <%= f.hidden_field :user_id, :value => self.current_user.id %>
  <% end %>
  <%= f.hidden_field :project_id, :value => project_id %>
  <%= f.hidden_field :discussion_id, :value => discussions.id %>
  <% if !@project.one_to_one && self.current_user.moderator %>
    Hide responses until answered:
    <%= f.check_box :hide_until_answered %>
  <% end %>
  <div class="postButton" style="margin-top:-20px;">
    <%= submit_tag "Share", :style => "margin-right:10px;" %>
  </div>
</div>
      </div>
    <% end %><!-- form for -->
  </div>
<%end%>
<% content_for :scripts do -%>
  <%= javascript_include_tag "loadFlexapp"%>
<%end%>
