
<div id="rightColumn">
    <div id="topResponse">
      	<% form_for :comments,
		#:update => "latestresponse",
		#:complete => "new Effect.Highlight('latestresponse', { duration: .5 })",
		#:html => {:multipart => true},
		#:before => fckeditor_before_js("note", 'text'),
		:url =>{:controller => 'comments', :action => 'create' } do |f| -%>
        <div class="avatar"><img src="../images/clientAvatar.png" width="50" height="50" /></div>
        <div class="topResponseBox">
          <h1>Post Your Response:</h1>
          <div class="responseWidget">
          	<%= f.text_area :comment, :size => "65 x 5", :onfocus => "this.value='';", :class => "rich_text_editor" %><br/>
			<%#= f.file_field :uploaded_data %>
			<% if logged_in? %>
			<%= f.hidden_field :user_id, :value => self.current_user.id %>
			<% end %>
			<%= f.hidden_field :assignment_id, :value => params[:id] %>
          </div>
          <div class="postButton">
            <input type="image" src="../images/btn_post.gif" />
          </div>
        </div>
      <% end -%>
    </div>
	<div id="responses">
    <div class="clientMainEntry" id="latestresponse">
      
    </div>
    
		<% first = true %>
		<% for comment in @latest_postings %>
		<% posting_user = User.find(:last, :conditions => {:id => comment.user_id})%>
		<div class="clientSubComment">
	      <div class="subCommentAvatar"><img src="../images/clientAvatar.png" width="50" height="50" /></div>
	      <div class="clientSubCommentText">
		 <h1><%=h posting_user.name %></h1>
		<p><%=comment.comment %><span>- Posted on <%=h comment.created_at%></span></p>
		<% if !first %>
			<% first = false %>
		<% else %>
			<% first = false %>
			<p align="right">- <%= link_to_remote 'Add Comment',
			:url => { :controller => 'plain', :action => 'sub_comment_form', :id => comment.id},
			:complete => "new Effect.SlideDown('subCommentForm', { duration: .5 })",
			:update => "subCommentForm" %></p>
		<% end %>
		<div id="subCommentForm"></div>
		<% @replies = Replies.find(:all, :conditions => { :comment_id => comment.id}, :order => "id DESC") %>
		<% for replies in @replies %>
		<p><%= replies.content %></p>
		<% end %>
		
		</div>
    </div>
<% end %>
</div>
<hr noshade="noshade"/>
	</div> <!-- responses -->
   
 
	      <div class="viewAll">- <a href="#">View All Comments</a></div>
 
<%#= periodically_call_remote(:url => {:controller => 'plain', :action => 'showlatest', :id => params[:id]}, :frequency => '30', :update => 'responses')%>