
<div id="rightColumn">
  <% unless @project.lock %>
  <%= render :partial => 'discussion_form' %>
  <% end %>
  <%= render :partial => 'discussion_links', :locals => {:discussions => @discussions, :id => params[:id]} %>

  <% discussion = @discussions_desc %>
  <% if discussion %>
  <div id="discussion<%= discussion.id %>"  ><br/>
  
  <%= render :partial => 'discussion_display', :locals => {:discussions => discussion, :project_id => params[:id]} %>
  <% if !self.current_user.client && !@project.lock && @project.response_box %>
    <%= render :partial => 'responder_form', :locals => {:discussions => discussion, :project_id => params[:id]} %>
  <% end  %>

    <%= render :partial => 'comments_replies', :locals => {:discussion => discussion, :project_id => params[:id]} %>


</div>
<% end  %>
  

</div> <!-- right column -->
<% if self.current_user.admin %>
<%= link_to "CSV", :controller => 'comment', :action => 'export_to_csv', :id => params[:id], :format => 'csv' %>
<% end %>  
 
