
<div id="rightColumn">
    <div id="topResponse">
      	<% form_for :comments,
		#:update => "latestresponse",
		#:complete => "new Effect.Highlight('latestresponse', { duration: .5 })",
		:html => {:id => "my_form", :multipart => true},
		:url =>{:controller => 'comments', :action => 'create' } do |f| -%>
        <div class="avatar">
			<% if self.current_user.avatar_file_name %>
			<%= image_tag self.current_user.avatar.url(:small) %>
			<% end %>
		</div>
        <div class="topResponseBox">
          <h1>Post Your Response:</h1>
          <div class="responseWidget">
          	<%= f.text_area :comment, :size => "60 x 5", :onfocus => "this.value='';" %><br/>
				Upload a photo or file:<br/>
			<%= f.file_field :photo %>
			<% if logged_in? %>
			<%= f.hidden_field :user_id, :value => self.current_user.id %>
			<% end %>
			<%= f.hidden_field :project_id, :value => params[:id] %>
			<div class="postButton" style="margin-top:-20px;">
            <!-- <input type="image" src="../images/btn_post.gif" /> -->
			<%= submit_tag "Post Your Comment", :style => "margin-right:50px;" %>
          </div>
          </div>
			<% if self.current_user.admin %>
			<fieldset style="margin-top:15px;">
				<input id="check_all" name="check_all" type="checkbox" onclick="Form.getInputs('my_form', 'checkbox').each(function(box){box.checked = $('check_all').checked})" /> <strong>Select All</strong><br/><br/>
				<% for participant in @project_members %>
					<%= check_box("comment_assignment", participant.user.id, {}, "#{participant.user.id}") %>  <%= participant.user.name %><br/>
				<% end %>
				</fieldset>
			<% end %>

        </div>
      <% end -%>
    </div>
	<div id="responses">
    <div class="clientMainEntry" id="latestresponse">
      
    </div>
    
		<% for comment in @latest_postings %>
		<% not_visible = CommentAssignments.find(:last, :conditions => {:user_id => self.current_user.id, :comment_id => comment.id })%>
		<% if !not_visible %>
		<div class="clientSubComment" id="commentSub<%= comment.id%>">
	      <div class="subCommentAvatar">
			<% if comment.user.avatar_file_name %>
				<%= image_tag comment.user.avatar.url(:small) %>
			<% end %>
		</div>
	      <div class="clientSubCommentText" >
		 <p>	

			<strong><%=h comment.user.name %></strong>
		<%=comment.comment %>

		<br/>

		<span>- Posted <%= time_ago_in_words(comment.created_at)%> ago </span>
			| <%= link_to_remote 'Add Comment',
			:url => { :controller => 'plain', :action => 'sub_comment_form', :id => comment.id},
			:complete => "new Effect.SlideDown('subCommentForm#{comment.id}', { duration: .5 })",
			:onclick => '',
			:update => "subCommentForm#{comment.id}" %> 
			<% if (comment.user_id == self.current_user.id) || self.current_user.admin? %>
				| <%= link_to_remote "Delete", 
				:confirm => "Are you sure you want to delete this?",
				:url => {:controller => 'plain', :action => 'drop_comment', :id => comment.id},
				:complete => "new Effect.Fade('commentSub#{comment.id}', { duration: 2 })",
				:update => "commentSub#{comment.id}" %>
			<% end %>
			<% if comment.photo_file_name %>
				<a href='<%=comment.photo.url%>' target="_blank">
				<%= image_tag comment.photo.url(:thumb), :style => "margin-left:40px;" %>
				</a>
			<% end %>
			</p>
		<div id="subCommentForm<%= comment.id %>"></div>
		<div id="reclaimer<%= comment.id %>"></div>
		<% @replies = Replies.find(:all, :conditions => { :comment_id => comment.id}, :order => "id DESC", :include => :user) %>
		<% for replies in @replies %>
			<% #user = User.find(:last, :conditions => {:id => replies.user_id}) %>
			<p style="background-color:#cdd7de;margin:8px;padding:2px;" id="reply<%= replies.id%>"><%= image_tag replies.user.avatar.url(:smaller) %>&nbsp;&nbsp;<%= replies.content %><br/>
				posted by 
				<% if replies.user.name == self.current_user.name %>
					you 
				<% else %>
					<%= replies.user.name%>  
				<% end %>
				<%= time_ago_in_words(replies.created_at) %> ago
				<% if (replies.user_id == self.current_user.id) || self.current_user.admin? %>
					| <%= link_to_remote "Delete", 
					:confirm => "Are you sure you want to delete this?",
					:url => {:controller => 'plain', :action => 'drop_reply', :id => replies.id},
					:complete => "new Effect.Fade('reply#{replies.id}', { duration: 2 })",
					:update => "reply#{replies.id}" %>
				<% end %>
				</p>
		<% end %>
			<div id="<%=dom_id(comment)%>">
			</div>
		</div>
		<hr noshade="noshade"/>
    </div>
	<% end %>
<% end %>
</div>
</div> <!-- responses -->
   
 
	      <!-- <div class="viewAll">- <a href="#">View All Comments</a></div> -->
 
<%#= periodically_call_remote(:url => {:controller => 'plain', :action => 'showlatest', :id => params[:id]}, :frequency => '30', :update => 'responses')%>