<h1 class="lower">Edit your PERCEPTION MAP</h1>
<div style="width:400px;float:left;margin-top:100px;">
<% form_for :groupables, @groupable,
:url =>{:controller => 'groupables', :action => 'update' } do |f| -%>


<p><%= label_tag 'title:' %><br/>
<%= f.text_field :title %>
<%= f.hidden_field :id, :value => params[:id] %>
</p>


<p>&nbsp;&nbsp;<%= link_to "Cancel", :controller => "project", :action => "edit", :id => @groupable.project_id %>&nbsp;&nbsp;<%= submit_tag 'Next -->' %></p>

<% end -%>
</div>
