<div id="thisForm<%= params[:id]%>">
<%  comment_num = Comment.find(params[:id])%>
<% form_for :reply,
:html => { :multipart => true},
:url =>{:controller => 'replies', :action => 'create' } do |f| -%>

<%= f.text_area :content, :size => "50 x 10" %><br/>
Upload a photo or file:<br/>
<%= f.file_field :media %><br/>

<div class="postButton">
  <%= submit_tag "Post Reply", :style => "margin-right:50px;" %>
</div>

<%= f.hidden_field :comment_id, :value => params[:id] %>

<input type="hidden" name="project_id" value="<%= comment_num.project_id %>" >

<%= f.hidden_field :user_id, :value => self.current_user.id %>

<% end -%>

</div>