<div id="thisForm<%= params[:id]%>">
<% form_for :reply,
:html => { :multipart => true},
#:update => "reclaimer#{params[:id]}",
#:complete => "new Effect.Highlight('reclaimer#{params[:id]}', { duration: .5 })",
#:update => "thisForm#{params[:id]}",
#:complete => "new Effect.Highlight('thisForm#{params[:id]}', { duration: .5 })",
:url =>{:controller => 'replies', :action => 'create' } do |f| -%>

<%= f.text_area :content, :size => "50 x 10" %><br/>
Upload a photo or file:<br/>
<%= f.file_field :media %><br/>

<div class="postButton">
  <%= submit_tag "Post Reply", :style => "margin-right:50px;" %>
</div>

<%= f.hidden_field :comment_id, :value => params[:id] %>
<%= hidden_field :project_id, :value => params[:project_id] %>
<input type="hidden" name="project_id" value="<%= params[:project_id] %>" >

<%= f.hidden_field :user_id, :value => self.current_user.id %>

<% end -%>

</div>