<div id="thisForm<%= params[:id]%>">

<% remote_form_for :comment,
:html => { :multipart => true},
:update => "commentSub#{params[:id]}",
:url =>{:controller => 'plain', :action => 'comment_update' } do |f| -%>

<%= f.text_area :comment, :size => "50 x 10", :class => "rich_text_editor" %><br/>


Upload a photo or file:<br/>
<%= f.file_field :photo %><br/>

<%= f.hidden_field :id %>

<div class="postButton">
  <%= submit_tag "Save", :style => "margin-right:50px;" %>
</div>


<% end -%>

</div>