<!-- discussion/show -->
<div id="rightColumn">
  <% if self.current_user.admin%>
  <% if params[:sort] != "by_user"%>
  <%= link_to "Group Replies by User", :controller => 'discussion', :action => 'show', :id => params[:id], :project_id => params[:project_id], :sort => 'by_user' %>
  <% else %>
  <%= link_to "Default View", :controller => 'discussion', :action => 'show', :id => params[:id], :project_id => params[:project_id], :sort => '' %>
  <% end %>
  <% end %>
  <%= render :partial => 'discussion_links', :locals => {:discussions => @discussions} %>

  <%= render :partial => 'assignment/discussion_display', :locals => {:discussions => @discussion} %>
<% if !self.current_user.client %>
  <%= render :partial => 'assignment/responder_form', :locals => {:discussions => @discussion, :project_id => params[:project_id]} %>
  <% end  %>


<%= render :partial => 'assignment/comments_replies', :locals => {:discussion => @discussion, :project_id => params[:project_id]} %>
  
</div>
