<h4>Your Comments</h4>
<div id="responses">
<% for comments in @mycomments %>

	<div class="clientSubComment">
      <div class="subCommentAvatar">
      		<% if self.current_user.avatar_file_name %>
			<%= image_tag self.current_user.avatar.url(:thumb) %>
			<% end %>
      </div>
      <div class="clientSubCommentText">
    <%=comments.comment %> 	<% if comments.photo_file_name %>
			<a href='<%=comments.photo.url%>' target="_blank"><%= image_tag comments.photo.url(:thumb), :style => "float:right;margin-left:10px;margin-right:50px;" %></a>
		<% end %><br/>
<span> - Posted <%=time_ago_in_words(comments.created_at) %> ago</span></div>
</div>
<% end %>
</div>