<h1 class="lower"><%=  @sortable.title %></h1>
<br/>
<p>Here are the items in your list "<%=  @sortable.title %>" and these can actually be dragged and dropped in the same manner that your
participants will be dragging and dropping.  Go ahead and try it!</p>
<br/>
<div style="display:inline-block;">
<ul id="sortables" style="list-style:none">
  <% for sortableitems in @sortableitems %>
  
  <% content_tag_for :li, sortableitems do %>
  <span class="handle" >
        <%  unless sortableitems.image.url == "" %>
      <%= image_tag sortableitems.image.url(:size100), :style => "vertical-align:middle;" %>
    <% end %>
    <span ><%= sortableitems.description %></span>
  </span>
  <% end %>
  
  <% end %>

</ul>
</div>
<%= sortable_element("sortables", :url => sort_sortableitems_path, :handle => "handle") %>