<%= image_tag "BlogNog2.png", :style => "float:right;", :class => "BlogNogLogo" %>
<h1 class="lower">Projects</h1>
<p>&nbsp;</p>
<%= link_to 'Add Project', {:controller => 'project', :action => 'new'} %>
<p>&nbsp;</p>

<% for project in @these_projects %>
<div>
    <p>
	<strong><%=project.title %></strong><br/>
	<%= link_to 'View', :controller => 'assignment', :action => 'show', :id => project.id %> | 
	<%= link_to "Edit", {:controller => "project", :action => "edit", :id => project.id} %> |
	<%= link_to 'Assign Participants', :controller => 'assignment', :action => 'assign',:id => project.id %> | 
	<%= link_to 'Delete', {:controller => 'project', :action => 'drop', :id => project.id}, :confirm => "Are you sure?" %></p>
</div>
<hr noshade="noshade"/>
<% end %>
