<h1 class="lower">Projects</h1>
<p>&nbsp;</p>
<%= link_to 'Add Project', {:controller => 'project', :action => 'new'} %>


<% for project in @project %>
<div class="infoBox">
    <p>
	<strong><%=project.title %></strong><br/>
	<%=project.description %> |
	<%= link_to 'Edit', :controller => 'project', :action => 'edit',:id => project.id%> |
	<%= link_to 'Delete', :controller => 'project', :action => 'drop',:id => project.id%></p>
	<% @assignment_list = Assignment.find(:all, :conditions => {:project_id => project.id})%>
	<% if @assignment_list %>
	<p><strong>This project contains the following assignments:</strong></p>
	<% end %>
	<% for assignment in @assignment_list %>
		<p><strong><%= link_to assignment.title, :controller => "assignment", :action => "show", :id => assignment.id %></strong> - <%= assignment.description %></p>
	<% end %>
</div>
<% end %>
