<h1 class="lower">Create a New Project</h1>

<% form_for :projects, @this_project,
:html => { :multipart => true },
:url =>{:controller => 'project', :action => 'create' } do |f| -%>

<p><%= label_tag 'Project title:' %><br/>
<%= f.text_field :title %>
</p>

<p><%= label_tag 'Description:' %><br/>
<%= f.text_area :description %>
</p>

<p>
	Upload File:<br/>
	<%= f.file_field :photo %>
</p>

<p>
	Client:<br/>
	<%=  select("projects", "client_id", User.find(:all, :conditions => { :client => true}).collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select...'}) %>
</p>
  
<p><%= submit_tag 'Enter' %></p>
<% end -%>