
<%
@project = Project.find(project.id)
category = AttributeTags.find_by_project_id(@project.id)

%>


<% unless category.nil? %>

  <% form_for :filter, :url => { :action => "create" } do |f| %>

    <% 1.upto(10) { |i|
      field_name = "field_#{i}" -%>
      <% unless category.send(field_name).nil? %>
        <label onclick="Effect.toggle('<%= field_name %>', 'slide'); return false;"><strong><%= category.send(field_name) %></strong></label><br/>
        <div id="<%= field_name %>" style="display:none">
        <% attributes = Attributes.find(:all, :conditions => { :project_id => @project.id }, :group => field_name) %>
        <% for attribute in attributes %>
          <%=  check_box('filter', attribute.send(field_name))%><%= attribute.send(field_name) %><br/>
        <% end %>
      </div>
      <% end %>
    <% }%>
<% end %>

<% else %>
  <h5>No categories for filter</h5>
<% end %>
