
<%
@project = Project.find(project.id)
category = AttributeTags.find_last_by_project_id(@project.id)

%>


<% unless category.nil? %>

  <% remote_form_for :filter, :complete => "new Effect.BlindDown('filterStatus', { duration: .5 })",
    :url => { :controller=> 'filter', :action => "filter_set" },
    :update => 'filterStatus' do |f| %>
    

    <% 1.upto(10) { |i|
      field_name = "field_#{i}" -%>
      <% unless category.send(field_name).nil? %>
        <label onclick="Effect.toggle('<%= field_name %>', 'slide'); return false;"><strong><%= category.send(field_name) %></strong></label><br/>
        <div id="<%= field_name %>" style="display:none">
        <% attributes = Attributes.find(:all, :conditions => { :project_id => @project.id }, :group => field_name) %>
        <% for attribute in attributes %>
          <%
            unless cookies[attribute.send(field_name)]
              checked = ""
            else
              checked = "checked"
            end
          %>
          <%=  check_box(field_name, attribute.send(field_name),{ :checked => checked })%><%= attribute.send(field_name) %>
          <br/>
        <% end %>
      </div>
      <% end %>
    <% }%>

        <p>
          <%= submit_tag "Set Filter" %>
          <%= link_to_remote "Clear", :complete => "new Effect.BlindUp('filterStatus', { duration: .5 })",
          :url => {:controller => 'filter', :action => 'filter_clear'},
          :update => 'filterStatus' %>
        </p>

            <%= f.hidden_field("project_id", :value=> @project.id) %>

  <% end %>

<% else %>
  <h5>No filter available</h5>
<% end %>
  <div id="filterStatus"></div>
