<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>blognog</title>
<%= include_yui_editor_if_used %>
  <%= stylesheet_link_tag 'blognog2'%>
<%= stylesheet_link_tag 'zoombox'%>
 <%#= stylesheet_link_tag 'magicthumb'%>
<!--[if IE ]>
  <%= stylesheet_link_tag 'ie'%>
<![endif]-->


  <%= javascript_include_tag  :defaults %>
<%#= javascript_include_tag  'magicthumb' %>
<%#= javascript_include_tag  'magiczoom' %>
<%= javascript_include_tag  'zoombox/jquery' %>
<%= javascript_include_tag  'zoombox/zoombox' %>
<%= javascript_include_tag 'picky_color' %>
<%= stylesheet_link_tag 'picky_color' %>


</head>
<%
  if self.current_user.participant?
    bodyTag = "oncontextmenu='return false;'"
  else
    bodyTag = ""
  end


  if session[:theme]
    styleTag = "style='background-color:##{Themes.find(session[:theme]).color};'"
  else
    styleTag = ""
  end
%>

<body <%=styleTag %> <%=bodyTag %> >
<div id="wrapper">
  <div id="banner">
    <div id="topNavLeft">
	<% if logged_in?%>
	
	<%if self.current_user.admin? %>
	<%= link_to "Home", :controller => "assignment", :action => "index" %>
	<%end%>
	<%if self.current_user.moderator?%>
		<%= link_to "Home", :controller => "moderator", :action => "index"%>
	<%end%>
	<%if self.current_user.client?%>
		<%= link_to "Home", :controller => "client", :action => "index"%>
	<%end%>
	<%if self.current_user.participant?%>
		<%= link_to "Home", :controller => "myassignments", :action => "show"%>
	<%end%>
	<% end %>
	</div>
    <div id="topNavRight"><%= link_to "Manage Account", :controller => "myaccount", :action => "edit" %><%= link_to "Support", :controller => "support", :action => "index" %><% if logged_in? %><%= link_to "Log Out", logout_path %><% end %></div>
  </div>
  <div id="container">

	<% if @project && (self.current_user.participant? || self.current_user.admin || self.current_user.client?|| self.current_user.moderator?) %>
	<div id="assignmentBox">
        
          <%if @project.theme == 1 %>
            <%= image_tag "logo2.jpg", :style => "float:right;", :class => "BlogNogLogo" %>
          <% else %>
            <%= image_tag Themes.find(@project.theme).logo.url(:size100), :style => "float:right;", :class => "BlogNogLogo" %>
          <% end %>
	
    <h1><%= @project.title %></h1>
    <h2>Project Overview:</h2>
    
    <p>
	<%=@project.description %>
		<% if @project.photo_file_name %>
			<% if @project.photo_content_type =~ /image.*/  %>
				<a href='<%=@project.photo.url%>' target="_blank">
				<%= image_tag @project.photo.url(:medium), :style => "margin-right:10px;" %></a>
			<% else %>
				&nbsp;&nbsp;<%= image_tag "download.png"%><a href='<%=@project.photo.url%>' target="_blank" style="color:#fff;">Multimedia file included.  Click here.</a>
			<% end %>
		<% end %>

	</p>
    <div id="searchBox">

    </div>
	
	</div>
	<% end %>
  <div id="leftColumn">
	<% if @project && self.current_user.participant? %>
	
    <p>Created <%=h @project.created_at.strftime("%m/%d/%Y") %><br />
      Last Edited <%=h @project.updated_at.strftime("%m/%d/%Y") %></p>
	
	<% else %>
	<p></p>
	<% end %>
    <ul id="leftNav">
	<% if logged_in? %>
	<% if self.current_user.admin? %>
    	<li><%= link_to 'Users', {:controller => 'users', :action => 'index'} %></li>
		<li ><%= link_to 'Projects', {:controller => 'project', :action => 'index'} %></li>
                <li class="last"><%= link_to 'Themes', {:controller => 'themes', :action => 'index'} %></li>
		
	<% end %>
	<% if self.current_user.participant? %>
      <li ><%= link_to 'My Assignments', {:controller => 'myassignments', :action => 'show'}%></li>
      <% @probes = FollowUps.find(:all, :conditions => {:read => false, :reply_belongs_to => self.current_user.id}) %>
      <% unless @probes.empty?
        this_count = FollowUps.count( :conditions => {:read => false, :reply_belongs_to => self.current_user.id})
       
      %>
        <li><%= link_to "Follow Ups (#{this_count})", {:controller => 'follow_ups', :action => 'show'} %></li>
      <% end %>
      <li class="last"><%= link_to 'My Emails' , {:controller => 'comment', :action => 'emailed'} %></li>
      
	<% end %>
	<% end %>
    </ul>

        <% if @project && !self.current_user.participant %>
        <%#= render :partial => 'filter/filter', :collection => @project, :as => :project, :layout => 'layouts/filter' %>
        <%= render :partial => 'filter/filter', :layout => 'layouts/filter' %>
        <% end %>
  </div>
<!-- Yield starts here -->
<% if flash[:notice]%>
	<h4  class="lower"><%= flash[:notice] %></h4>
<% end %>
<%= yield  %>

  
<!-- Yield ends here -->

    <div id="footer">
      <div class="copyright" >
        <% unless session[:theme] %>
        <a href='http://www.AccelerantResearch.com' target="_blank"><%= image_tag "Logo_final2.png" %></a>
        <% else %>
        <%= image_tag Themes.find(session[:theme]).logo.url(:size100) %>
        <% end %>
        <br/>
        &copy; Copyright <%= Time.now.strftime("%Y") %> BlogNogResearch.com</div>
    </div>
  </div>
</div>
    <iframe id='iframe' name="iframe" style="width:1px;height:1px;border:0px" src="about:blank" ></iframe>
</body>
</html>